<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <button type="button" class="btn btn-light position-relative" style="display:flex;"><span class="material-icons"
                style="color:#000">
                account_circle
            </span>
            <%= name %>
                <span
                    class="position-absolute top-0 start-100 translate-middle p-2 bg-success border border-light rounded-circle"
                    id="profile-badge">
                    <span class="visually-hidden">New alerts</span>
                </span>
        </button>
        <button class=" navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="material-icons" style="color:white">
                menu_open
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <% if (nav==="home" ) {%>
                        <a class="nav-link active" aria-current="page" href="/forumpage?token=<%= token %>"><span
                                class=" material-icons">
                                home
                            </span></a>
                        <%} else {%>
                            <a class="nav-link" aria-current="page" href="/forumpage?token=<%= token %>"><span
                                    class=" material-icons">
                                    home
                                </span></a>
                            <%}%>

                </li>
                <li class="nav-item">
                    <% if (nav==="myforum" ) {%>
                        <a class="nav-link active" aria-current="page" href="/myforum?token=<%= token %>"><span
                                class="material-icons" style="cursor: pointer;">
                                forum
                            </span></a>
                        <%} else {%>
                            <a class="nav-link" aria-current="page" href="/myforum?token=<%= token %>"><span
                                    class="material-icons" style="cursor: pointer;">
                                    forum
                                </span></a>
                            <%}%>
                </li>
                <li class="nav-item">
                    <% if (nav==="profile" ) {%>
                        <a class="nav-link active" href="/profile?token=<%= token %> ">
                            <span class="material-icons" style="cursor: pointer;">
                                manage_accounts
                            </span>
                        </a>
                        <%} else {%>
                            <a class="nav-link" href="/profile?token=<%= token %> ">
                                <span class="material-icons" style="cursor: pointer;">
                                    manage_accounts
                                </span>
                            </a>
                            <%}%>
                </li>
                <li class="nav-item">
                    <% if (nav==="credits" ) {%>
                        <a class="nav-link active" href="/mycredits?token=<%= token %>">
                            <span class="material-icons" style="cursor: pointer;">
                                emoji_events
                            </span>
                        </a>
                        <%} else {%>
                            <a class="nav-link" href="/mycredits?token=<%= token %>">
                                <span class="material-icons" style="cursor: pointer;">
                                    emoji_events
                                </span>
                            </a>
                            <%}%>
                </li>
                <li class="nav-item">
                    <% if (nav==="bookmarks" ) {%>
                        <a class="nav-link active" href="/mybookmarks?token=<%= token %> ">
                            <span class="material-icons">
                                bookmarks
                            </span>
                        </a>
                        <%} else {%>
                            <a class="nav-link" href="/mybookmarks?token=<%= token %> ">
                                <span class="material-icons">
                                    bookmarks
                                </span>
                            </a>
                            <%}%>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="material-icons" onclick="toggletheme()">
                            dark_mode
                        </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout()">
                        <span class="material-icons">
                            logout
                        </span>
                    </a>
                </li>


                <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@Compose"
                    style="margin-left: 100px;display:flex; justify-content: center; align-items: center;"
                    class="btn btn-warning feed" data-userId="<%= userId %>" id="feeder"><u>Feed
                        your
                        mind</u>
                    <span class="material-icons">
                        edit
                    </span></button>
            </ul>
            <form class="d-flex" id="searchengine">
                <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" id="searcher">
                <button class="btn btn-primary" id="searchbtn"><span class="material-icons"
                        style="color: #fff; margin: 0px 5px;">
                        search
                    </span></button>
            </form>
        </div>
    </div>
</nav>
<button class="btn btn-primary" id="searchResult" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">Result</h5>
        <button type="button" class="btn-close text-reset" id="closeCanvas" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div id="rs">

        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body" id="search2">

            </div>
        </div>
    </div>

</div>


<script>

    function toggletheme() {
        let theme = document.getElementById("theme");
        if (theme.getAttribute("href") === "css/general/mdb.min.css")
            theme.setAttribute("href", "css/general/mdb.dark.min.css");
        else
            theme.setAttribute("href", "css/general/mdb.min.css")
    }

    let btn = document.getElementById("searchbtn");

    btn.addEventListener('click', function (e) {
        e.preventDefault();
        let val = document.getElementById("searcher").value;
        console.log(val);
        console.log("search button clicked");
        searchajaxhandler({ input: val });
    });

    function searchajaxhandler(searchinput) {
        let settings = {
            url: "/search",
            method: "POST",
            contentType: "application/json",
            dataType: "json",
            data: JSON.stringify(searchinput)
        };

        $.ajax(settings)
            .done(function (result) {
                console.log(result);
                $("#searchResult").click();
                let f = document.getElementById("rs");
                document.getElementById("searcher").value = "";
                f.innerText = "";
                for (let res of result) {
                    console.log(res);
                    let card = document.createElement("div");
                    let cardHead = document.createElement("div");
                    let cardBody = document.createElement("div");
                    let p = document.createElement("p");
                    let button = document.createElement("button");

                    card.classList.add("card", "text-center");
                    cardHead.classList.add("card-header");
                    cardBody.classList.add("card-body");
                    button.classList.add("btn", "btn-primary", "search1");
                    button.id = res._id;
                    button.dataset.uid = res.userId;
                    button.dataset.bsToggle = "collapse"
                    button.dataset.bsTarget = "#collapseExample"
                    button.ariaExpanded = "false";
                    button.ariaControls = "collapseExample";

                    cardHead.innerText = res.username;
                    cardBody.innerText = res.Question;
                    p.innerHTML = res.Description;
                    button.innerText = "Others answer";

                    cardBody.appendChild(p);
                    cardBody.appendChild(button);
                    card.appendChild(cardHead);
                    card.appendChild(cardBody);
                    f.appendChild(card);

                }
                searchbuttonlistener();
            })
            .fail(function (jHR, textstatus, err) {
                console.log(jHR);
            })

    }
    searchbuttonlistener()

    function searchbuttonlistener() {
        let sbtn = document.querySelectorAll(".search1");

        sbtn.forEach(e => {
            e.addEventListener("click", function (event) {
                console.log("Button clicked");
                let qid = e.id;
                showcomments(qid);
            })
        })
    }

    function showcomments(data) {
        console.log("Inside show comments");
        console.log(data);
        let settings = {
            url: "/getUserAnswer?qid=" + data,
            method: 'GET',
            contentType: 'application/json'
        };
        $.ajax(settings).done(function (response) {
            console.log(response);

            let container = document.querySelector('#search2');
            document.querySelector('#search2').innerText = "";
            if (response.length > 0) {
                for (let r of response[0].answers) {
                    let h6 = document.createElement("h6");
                    let p = document.createElement("p");
                    let div = document.createElement("div");

                    div.classList.add("shadow-sm", "p-2", "mb-2", "bg-body", "rounded")
                    h6.classList.add("badge", "bg-info");
                    h6.innerText = h6.value = r.userId;
                    p.innerHTML = r.answer;
                    div.appendChild(h6);
                    div.appendChild(p);
                    container.appendChild(div);
                }
            }
        }).fail(function (XHR, status, err) {
            console.log(status);
        })
    }
</script>